<div *ngIf="isLogin" class="wrapper">
    <div class="logo">
        <img [src]="'../../assets/logo.png'" alt="App Logo">
    </div>
    <div class="text-center mt-4 name">
        Task Manager
    </div>
    <form class="p-3 mt-3" (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input
                type="text"
                name="userName"
                id="userName"
                placeholder="Username"
                [(ngModel)]="login_userName"
                #userNameInput="ngModel"
                required
            >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input
                type="password"
                name="password"
                id="pwd"
                placeholder="Password"
                [(ngModel)]="login_password"
                #passwordInput="ngModel"
                required
            >
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a role="button" (click)="signUpRequest()">Sign up</a>
    </div>
    <span
        class="help-block"
        style="font-size: small; font-style: italic; color: red;"
        *ngIf="login_error !== null">
        {{loginError}}
    </span>
</div>

<div *ngIf="!isLogin" class="wrapper">
    <div class="logo">
        <img [src]="'../../assets/logo.png'" alt="App Logo">
    </div>
    <div class="text-center mt-4 name">
        Task Manager
    </div>
    <form class="p-3 mt-3" (ngSubmit)="onSubmitSignup()" #signUpForm="ngForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Enter your Name"
                [(ngModel)]="signup_name"
                #signupNameInput="ngModel"
                required
            >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your Email"
                [(ngModel)]="signup_email"
                #signupEmailInput="ngModel"
                required
            >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="Enter your Mobile Number"
                [(ngModel)]="signup_phone"
                #signupPhoneInput="ngModel"
                required
            >
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input
                type="password"
                name="password"
                id="pwd"
                placeholder="Password"
                [(ngModel)]="signup_password"
                #signUpPasswordInput="ngModel"
                required
            >
        </div>
        <button type="submit" class="btn mt-3">Sign Up</button>
    </form>
    <div class="text-center fs-6">
        Already have an account <a role="button" (click)="loginRequest()">Login</a>
    </div>
    <span
        class="help-block"
        style="font-size: small; font-style: italic; color: red;"
        *ngIf="loginError !== null">
        {{singup_error}}
    </span>
</div>