<div class="wrapper signup">
    <div class="logo">
        <img [src]="'../../../assets/logo.png'" alt="App Logo">
    </div>
    <div class="text-center mt-4 name">
        Task Manager
    </div>
    <form class="p-3 mt-3" (ngSubmit)="onReset()" #signUpForm="ngForm">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your Email"
                [(ngModel)]="email"
                #signupEmailInput="ngModel"
                required
            >
        </div>
        <button type="submit" class="btn mt-3">Reset</button>
    </form>
    <div class="text-center fs-6">
        <a class="text-center fs-6" role="button" (click)="goToLogin()">Go To Login</a>
    </div>
    <span
        class="help-block"
        style="font-size: small; font-style: italic; color: red;"
        *ngIf="reset_error !== null">
        {{singup_error}}
    </span>
</div>