<div *ngIf="!loaded" class="py-5 d-flex justify-content-center text-primary">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
    <mat-toolbar>
            <mat-toolbar-row>
                <input [(ngModel)]="searchTerm" type="text" class="form-control rounded" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" (keyup.enter)="onSearch()"/>
                <button (click)="onSearch()" type="button" class="btn btn-outline-primary" data-mdb-ripple-init><i
                        class="fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary ml-1" (click)="newTaskNavigate()">Add Task</button>
            </mat-toolbar-row>
            <mat-toolbar-row class="responsive-grid-toolbar">
                <button mat-button [matMenuTriggerFor]="viewAsMenu" class="bg-primary text-white ml-1">View As <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <mat-menu #viewAsMenu="matMenu">
                        <a mat-menu-item class="dropdown-item" role="button" (click)="switchView(true)">Thumbnails</a>
                        <a mat-menu-item class="dropdown-item" role="button" (click)="switchView(false)">List</a>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="statusFilter" class="bg-primary text-white ml-1">Show Status <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <mat-menu class="mb-2" #statusFilter="matMenu">
                    <a mat-menu-item
                        *ngFor="let status of ['All', 'Todo', 'In Progess', 'Complete']; index as i"
                        role="button"
                        (click)="filterByStatus(i-1)">
                        {{ status }}
                    </a>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="priorityFilter" class="bg-primary text-white ml-1">Show Priority <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <mat-menu class="mb-2" #priorityFilter="matMenu">
                    <a mat-menu-item
                        *ngFor="let priority of ['All', 'Low', 'High', 'Critical', 'Blocker']; index as i"
                        role="button"
                        (click)="filterByPriority(i-1)">
                        {{ priority }}
                    </a>
                </mat-menu>
            </mat-toolbar-row>
    </mat-toolbar>

<div *ngIf="tasks !== undefined && tasks.length > 0; else noTasks">
    <div class="m-1 responsive-grid" *ngIf="viewAsTile">
        <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
    </div>
    <div class="m-1" *ngIf="!viewAsTile">
        <ag-grid-angular class="ag-theme-quartz-dark m-2 p-2" class="ag-theme-quartz-dark"
            style="width: 100%; height: 100%;" (gridReady)="onGridReady($event)" [autoSizeStrategy]="autoSizeStrategy"
            [rowData]="tasks" [columnDefs]="colDefs">
        </ag-grid-angular>
    </div>
</div>
<ng-template #noTasks>
    <p class="font-italic text-center">No Tasks to display !!</p>
</ng-template>
<div *ngIf="error">
    <p class="font-italic">{{error}}</p>
</div>