.label {
  color: white;
  padding: 2px;
  border-radius: 10%;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 24px;
}

.success {
  background-color: #04AA6D;
}

/* Green */
.info {
  background-color: #2196F3;
}

/* Blue */
.warning {
  background-color: #ff9800;
}

/* Orange */
.danger {
  background-color: #f44336;
}

/* Red */
.other {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */